body {
    background-image: url(../assets/images/blurred_backgrounds/dark-grey-terrazzo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.album-covers {
    position: relative;
    margin-left: 3em;
}

collection-album-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.collection-album-container .caption {
    margin-top: 10px;
}

.collection-album-container .caption p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
}

.collection-album-container .caption p a {
    color: rgba(255,255,255,0.6);
}

.collection-album-container .caption p a.album-name {
    color: white;
}

.collection-album-container img {
    width: 70%;
}
