*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    min-height: 100%;
}

.navbar {
    position: relative;
    top: 0;
    padding: 0.5rem;
    /* #1 */
    background-color: rgb(139, 71, 93,0.5);
    /* #2 */
    z-index: 1;
    min-height: 130px;
}

.navbar .logo {
    position: relative;
    top: 1rem;
    left: 2rem;
    cursor: pointer; /* produces the finger pointer icon when you hover over the logo */
}

.navbar .links-container {
    display: table;
    position: absolute;
    top: 0;
    right: 2rem;
    height: 150px;
    color: white;
    /* #3 */
    text-decoration: none;
}

.links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    /* #4 */
    vertical-align: middle;
    color: white;
    font-size: .9rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-transform: uppercase;
    /* #3 */
    text-decoration: none;
    cursor: pointer;
}

/* #5 */
.links-container .navbar-link:hover {
    color: rgb(74,112 ,139);
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 64rem;
}

.container.narrow {
    max-width: 56rem;
}

/* Medium and small screens (640px) */
@media (min-width: 640px) {
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
    html { font-size: 120%; }
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
